<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.courseManage.Mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.yupi.courseManage.model.domain.Student">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="studentID" column="studentID" jdbcType="VARCHAR"/>
            <result property="studentName" column="studentName" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="department" column="department" jdbcType="VARCHAR"/>
            <result property="grade" column="grade" jdbcType="VARCHAR"/>
            <result property="major" column="major" jdbcType="VARCHAR"/>
            <result property="studentClass" column="studentClass" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,studentID,studentName,
        gender,department,grade,
        major,studentClass,createTime,
        updateTime,isDelete
    </sql>
</mapper>
